<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
      .topNav {
            background-color: #333;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            align-items:center
        }
    </style>
</head>
<body>
<div class="topNav" style="text-align:center" >
  <a class="index.html" href="#home" style="color: #f2f2f2;padding: 14px 16px;">Home</a>
  <a href="about.html" style="color: #f2f2f2;padding: 14px 16px;font-size: 17px;">About Us</a>
</div>

</body>
</html>