<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link href="../static/index.css" rel="stylesheet">
    <link href="../static/aboutus.css" rel="stylesheet">
    <style>
      .topNav {
            background-color: #333;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            align-items:center
        }
    </style>
</head>
<body>
<div class="topNav" style="text-align:center" >
  <a class="index.html" href="#home" style="color: #f2f2f2;padding: 14px 16px;">Home</a>
  <a href="about.html" style="color: #f2f2f2;padding: 14px 16px;font-size: 17px;">About Us</a>
</div>
<div id="header">
		<img id="profile-pic" src="../static/team.jpg" alt="image">
	</div>

<!--beginning of pictures with info-->


  <div class="column">
    <div class="card">
      <img src="../static/hector.jpg" alt="Hector" style="width:100%">
      <div class="container">
        <h2>Hector Santiago</h2>
        <p class="title">Role: Full-Stack Developer</p>
        <p>Description: Hector primarily focused on developing the chatbot using Flask. He also connect the chat bot to our HTML page. </p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="../static/kel.jpg" alt="Kel" style="width:100%">
      <div class="container">
        <h2>Kel Lee</h2>
        <p class="title">Role: Front-End Development</p>
        <p>Description:
        Kel helped with Front-End Development. He also helped keep us on track and helped us to prepare our presentations.</p>
      </div>
    </div>
  </div>

    <div class="column">
    <div class="card">
      <img src="../static/Abdul.png" alt="Abdul" style="width:100%">
      <div class="container">
        <h2>Abdul Mohammed</h2>
        <p class="title">Role: Front-End Development </p>
        <p>Description:
        Abdul helped with building out our home and about us web pages. </p>
      </div>
    </div>
  </div>

<div class="column">
    <div class="card">
      <img src="../static/donovan.jpg" alt="Donovan" style="width:100%">
      <div class="container">
        <h2>Donovan Benson</h2>
        <p class="title">Role: Conversation Flow/Front End Development</p>
        <p>Description:
        Donovan helped with Conversation Flow development for the chat bot. He also helped build the about us web page.</p>
      </div>
    </div>
  </div>
</div>
<!--end of pictures with info-->

<!--beginning of footer-->
<div class="footer">
	<p> </p>
</div>
<!--end of footer-->



</body>
</html>