<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SuitBot</title>
</head>
<body style="align-items: center; justify-content: center; display: flex;">
<div id='bodybox' style="border:solid 5px black; width: 350px; height: 700px; padding-left: 10px; left: 10px; position: relative">
  <div id='chatborder' style="width: 300px">
    <p id="chatlog7" class="chatlog">&nbsp;</p>
    <p id="chatlog6" class="chatlog">&nbsp;</p>
    <p id="chatlog5" class="chatlog">&nbsp;</p>
    <p id="chatlog4" class="chatlog">&nbsp;</p>
    <p id="chatlog3" class="chatlog">&nbsp;</p>
    <p id="chatlog2" class="chatlog">&nbsp;</p>
    <p id="chatlog1" class="chatlog">&nbsp;</p>
    <label for="chatbox"></label><input type="text" name="chat" id="chatbox" style="width: 90%; height: 22px; padding-left: 5px; position: absolute; bottom: 0" placeholder="Hi there! Type here to talk to me." onfocus="placeHolder()">
  </div>
</div>
</body>
</html>